<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add messages</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <div style="text-align: center;">

     <h1 th:if="${info} !=null" th:text="${info}"></h1>

      <form th:if="${info}== null" action="/addAlert" th: object="${alertForm}" method="post">

             <br/>
             <textarea placeholder="Write text" th:field="${alertForm.alert}" th:errorClass="error"></textarea>
             <span th:if="${#fields.hasErrors('${alertForm.alert}')}" th:errors="${alertForm.alert}"></span>
             <br/>
              Is it a warning?<input type="checkbox" th:checked="${alertForm.isWarning}" th:field="${alertForm.isWarning}" th:name="${alertForm.isWarning}"/>
             <br/>
             <input type="submit" value="Send!"/>
      </form>
  </div>

</body>
</html>